body, html {
    margin: 0;
    height: 100%;
    text-align: center;
}

input {
    float: none;
    margin: 0 auto;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin: 10px auto;
}

.mensagem{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#mensagemFalha{
    color: red;
}

#mensagemSucesso{
    color: green;
}

#preview_photo_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 90%;
}

.container {
    height: 100%;
    position: relative;
}

.center {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .center {
        top: 40%;
    }
    .mensagem{
        top: 20%;
    }
}

@media screen and (max-width: 767px) and (min-width: 321px) {
    .center {
        top: 45%;
    }
    
    .mensagem {
        top: 15%;
        font-size: 15px;
    }
    
}

@media screen and (max-width: 320px){
    .center{
        top:25%;
        left:10%;
    }
    
    .mensagem{
        text-align: center;
        top: 10%;
        left: 10%;
        right: 10%;
        font-size: 20px;
    }
    
    .btn{
        font-size: 20px;
    }
    
    #preview_photo_container {
        position: absolute;
        left: 15%;
        top: 0%;
        transform: translate(-50%, -50%);
        height: 75%;
        width: 70%;
    }
}
